@page

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                Users online
            </div>
            <div id="usersOnline">
                [List of users]
            </div>
        </div>
        <div class="col-sm-8">
            <div id="row">
                <div id="messageBox">
                    <ul id="messagesList"></ul>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col align-self-end" id="typeMessage">
                    <input type="text" id="userInput" placeholder="Enter your nickname" />
                    <input type="text" id="messageInput" placeholder="Type message..." />
                    <input class="btn btn-info" type="button" id="sendButton" value="Send" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>