@page
@model IndexModel

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                Users online
            </div>
            <div id="usersOnline">
                [List of users]
            </div>
        </div>
        <div class="col-sm-8">
            <div id="row">
                <div id="messageBox">
                    [All messages]
                </div>
            </div>
            <div class="row">
                <div id="typeMessage">
                    [Type message here]
                </div>
            </div>
        </div>
    </div>
</div>
