/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#crane {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: -0.4px;
    word-spacing: -0.8px;
    color: #B734A2;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}

#messages-list {
    list-style: none;
}

#crane span {
    font-size: 25px;
}
